*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#header, .wrap {
    width: 1200px;
    margin: 0 auto;
}

#middle {
    width: 1200px;
    margin: 0 auto;
    position: relative;
    padding: 40px 0px;
    overflow: hidden; /* 이거 */
}

#top1 {
    position: relative;
    height: 100px;
    padding: 20px;
}

#logo img{
    height: 36px;
    width: 50px;
    position: absolute;
    left: 50px;
    top: 50%;                
    transform: translateY(-50%); /* 이거 */
}

#menu {
    height: 100px;
    top: -3px;
    width: auto;
    position: absolute;
    right: 50px;
    line-height: 100px; /* 이거 */
}

.menu a{
    font-size: 25px;
    color: #283b52;
    text-decoration: none;
    font-weight: 700;
    padding: 3px 7px;
    margin: 0 20px;
}

#top2 {
    height: 150px;
    position: relative;
    padding: 20px;
    background-color: #003366;
    border-radius: 7px;
}

#title1 {
    position: absolute;
    font-size: 50px;
    font-weight: 700;
    color: #f1f1f1;
    width: auto;
    left: 30px;
    top: 0;
    line-height: 100px; /* 이거 */
}

#title2 {
    position: absolute;
    font-size: 25px;
    font-weight: 600;
    width: auto;
    color: #f1f1f1;
    left: 30px;
    top: 100px;
}

.imagebox, .imagebox2 {
    margin: 10px;
    height: 400px;
    width: 380px;
    background-color: #003366;
    float: left;
    padding: 0;
    border-radius: 7px;
    overflow: hidden; /* 이거 */
}

.style1 {
    font-weight: bold;
    font-size: 25px;
    color: #f1f1f1;
}

.style2 {
    font-size: 20px;
    color: #f1f1f1;
}

.style3 {
    font-size: 20px;
    color: #f1f1f1;
    text-align: center; /* 이거 */
}

.imagebox img, .imagebox2 img{
    display: block;
    height: 200px;
    width: 100%;
    object-fit: cover; /* 이거 */
}

.textbox {
    width: 100%;
    height: 200px;
    padding: 20px;
    box-sizing: border-box;
}


#info {
    width: 1200px;
    background-color: #003366;
    clear: both; /* 이거 */
    margin: 0 auto;
    border-radius: 7px;
    height: auto;
    padding: 60px 0;
}

@font-face {
    font-family: 'MyCustomFont'; 
    src: url('./Zepter_Pro.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

main, header {
    font-family: 'MyCustomFont'
}