* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#wrap {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* 2. 헤더 스타일  */
.header {
    padding-top: 20px;
}

.nav-container {
    height: 80px;
    margin-right: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 80px;
    margin: 10px 10px 30px 30px;
}

.logo img {
    height: 100%;
}

.menu-link {
    font-size: 18px;
    color: #003366;
    text-decoration: none;
    font-weight: 500;
    margin-left: 25px;
    padding: 5px 0;
    transition: color 0.3s;
}

.menu-link{
    color: #003366;
    border-bottom: 2px solid #003366;
}

/* 3. 페이지 헤더  */
.page-header {
    background-color: #003366;
    border-radius: 7px;
    padding: 40px 50px;
    color: #f1f1f1;
    margin-bottom: 60px;
}

.main-title {
    font-size: 42px;
    margin-bottom: 5px;
}

.sub-title {
    font-size: 20px;
    font-weight: 300;
}

/* 4. 타임라인 스타일 */

.timeline-section {
    padding: 50px 0 50px 250px;
}

.timeline-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 50px;
    border-left: 3px solid #003366;
}

.timeline-item {
    position: relative;
    margin-bottom: 50px;
}

.timeline-dot {
    position: absolute;
    left: -59.5px; 
    top: 8px;
    width: 16px;
    height: 16px;
    background-color: #f1f1f1;
    border: 3px solid #003366;
    border-radius: 50%;
}

.timeline-content {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.timeline-year {
    background-color: #003366;
    color: #fff;
    padding: 5px 15px;
    border-radius: 7px;
    font-weight: bold;
    font-size: 18px;
    min-width: 85px;
    text-align: center;
}

.timeline-text h3 {
    font-size: 22px;
    color: #003366;
    margin-bottom: 5px;
}

.timeline-text p {
    color: #666;
}

/* 5. 푸터 스타일 */
.footer {
    background-color: #283b52;
    color: #f1f1f1;
    padding: 30px 20px;
    text-align: center;
    border-radius: 7px;
    margin-top: 50px;
}

.footer p {
    margin-bottom: 5px;
    font-size: 14px;
}