/* 메뉴만들기.css */

*{
    padding:0;
    margin:0;
    box-sizing: border-boxhlw;
}

#wrap {
    width: 1200px; /*최대 너비*/
    position: relative;
    margin: 0 auto;
}

#header{
    padding:10px 20px;
}