/* test2_style.css*/
#parent{
    width:300px;
    height:200px;
    background: lightgray;
    position:relative;
}

#child {
    width: 80px;
    height: 50px;
    background: pink;
    position:absolute;
    right:0px;
    bottom:0px;    
}