/* [공통 초기화] */
* { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; color: inherit; }

/* [전체 레이아웃] */
#wrap { width: 1200px; margin: 0 auto; }

/* [헤더] */
header {
    width: 100%; height: 100px; 
    display: flex; justify-content: space-between; align-items: center;
}
.logo-box { height: 60px; margin-left: 20px; }
.logo-box img { height: 100%; }
.nav-box { margin-right: 20px; }
.nav-box a {
    font-size: 25px; color: #003366; font-weight: 700;
    padding: 3px 7px; margin: 0 20px;
}

.barsquare {
    width: 100%; 
    margin: 0px auto; 
    padding: 20px;
    background: #003366; 
    border-radius: 7px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.picture-box{ 
    height: 350px; 
    width: 400px;
    margin-left: 70px;
    border-radius: 7px;
    background-color: #f1f1f1;
}
.picture-box img{
    width: 100%;
    height: 100%;
}
.introduction-box{
    width: 800px;
    height: 500px;
    margin-left: 70px;
    color: #f1f1f1;
}
.introduction-box #h3{
    border-bottom: 3px solid #f1f1f1;
    padding: 0 0 10px 10px;
    margin-top: 90px;
    width: 550px;
    font-size: 40px;
}
.introduction-box #h4{
    padding-left: 10px;
    margin-top: 10px;
    width: 400px;
    font-size: 40px;
}
.introduction-box #p{
    padding-left: 10px;
    margin-top: 5px;
    font-size: 20px;
}
.introduction-box #h2{
    padding-left: 10px;
    margin-top: 5px;
    margin-top: 70px;
    font-size: 35px;
}
.barsquare-bottom{
    height: 200px;
    border-radius: 7px;
    margin-top: 35px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.barsquare-bottom .box{
    height: 150px;
    width: 350px;
    border-radius: 7px;
    border: 2px solid #003366;
}
.box{
    padding: 30px 0 0 50px;
}

.box #h{
    border-bottom: 2px solid #003366;
    font-size: 20px;
    width: 250px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    color: #003366;
}
.box #p1{
    color: #003366;
    
}

/* [푸터: 통일] */
footer {
    width: 100%; background-color: #003366;
    margin-top: 50px; 
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 60px 0; text-align: center;
    color: #f1f1f1; clear: both;
}
.footer-text { font-size: 20px; margin-bottom: 5px; }