/* [공통 초기화] */
* { margin: 0; padding: 0; box-sizing: border-box; }
a { text-decoration: none; color: inherit; }

/* [전체 레이아웃] */
#wrap { width: 1200px; margin: 0 auto; }

/* [헤더] */
header {
    width: 100%; height: 100px; 
    display: flex; justify-content: space-between; align-items: center;
}
.logo-box { height: 60px; margin-left: 20px; }
.logo-box img { height: 100%; }
.nav-box { margin-right: 20px; }
.nav-box a {
    font-size: 25px; color: #003366; font-weight: 700;
    padding: 3px 7px; margin: 0 20px;
}

.barsquare {
    width: 100%; 
    margin: 0px auto; 
    padding: 20px;
    background: #003366; 
    border-radius: 7px;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
}
.picture-box{ 
    height: 400px; 
    width: 400px;
    background-color: #f1f1f1;
}
.picture-box img{
    width: 100%;
}
.introduction-box{
    width: 800px;
    height: 500px;
    color: #f1f1f1;
}
.introduction-box h3{
    border-bottom: 3px solid #f1f1f1;
    
}



/* [푸터: 통일] */
footer {
    width: 100%; background-color: #003366;
    margin-top: 50px; 
    margin-bottom: 10px;
    border-radius: 7px;
    padding: 60px 0; text-align: center;
    color: #f1f1f1; clear: both;
}
.footer-text { font-size: 20px; margin-bottom: 5px; }


/*----------------작업역역----------------*/
.main1{
    display: flex; 
       width: 1200px;
       height: 570px;
    margin: 0px auto; 
    padding: 20px;
    background: #003366; 
    border-radius: 7px;
      justify-content: space-between;
      
}
.main2{
    background: transparent;
    width: 1000px;
    height: 500px;
    margin: 24px 100px 46px 100px;
    border-radius: 5px;
}
.main3{
    background: transparent;
    height: 350px;
    width: 1000px;
    display: flex;
     
}
.main4{
      background: transparent;
     height: 120px;
     width: 1000px;
     margin-top: 30px;
     display: flex;
     column-gap: 20px;
}
.imgArea{
    width: 350px;
    height: 320px;
    background: url("./Teampicture.png") no-repeat;
    background-size: cover;

}
.textArea{

     width: 650px;
    height: 350px;
     background: transparent;

}
.mainText{
    margin-top: 20px;
     height: 70px;
     color: #f1f1f1;
     font-size: 45px;
    background: transparent;
    margin-left: 50px;
    font-weight : bolder;
}
.text1{
    background: transparent;
    height: 90px;
   color: #f1f1f1;
    font-size: 20px;
    margin-left: 50px;
   

}
.text2{
     background: transparent;
    height: 70px;
    color: #f1f1f1;
    font-size: 25px;
    margin-left: 50px;
}
.text3{
    background: transparent;
    background: #003366;
    height: 70px;
    color: #f1f1f1;
    font-size: 20px;
     margin-left: 50px;
    font-weight : bold;

}
.underLine{
    height: 2px;
    width: 550px;
    background: white;
}
.underBox{
     background: #f1f1f1;
    width: 320px;
    height: 130px;
    color:#003366;
    border-radius: 5px;
    border: 2px solid black;
      box-sizing: border-box;
    
    
}
.underTopBox{
    display: flex;
   width: 315px;
   height: 60px;
   background: #f1f1f1;
     box-sizing: border-box;
     border-radius: 5px;
}
.underline{
    width: 200px;
    height: 2px;
    background-color: rgba(233, 226, 226, 0.982);
    margin-left: 70px;
}
.underBotBox{
      display: flex;
   width: 315px;
   height: 52px;
   background: #f1f1f1;
     box-sizing: border-box;
}
.underBoxImg1{
    width: 40px;
    height: 40px;
  background: url("./istockphoto-817509202-1024x1024-Photoroom.png");
  margin: 10px;
  background-size: cover;
  
}
.underBoxImg2{
    width: 40px;
    height: 40px;
  background: url("./istockphoto-817509202-1024x1024-Photoroom.png");
  margin: 10px;
  background-size: cover;
  
}
.underBoxImg3{
    width: 40px;
    height: 40px;
  background: url("./istockphoto-817509202-1024x1024-Photoroom.png");
  margin: 10px;
  background-size: cover;
  
}
.underTopBoxText{
     width: 260px;
     height: 58px;
     background: #f1f1f1;
     padding: 7px 15px;
     border-radius: 7px;
     box-sizing: border-box;
     padding-top: 18px;
     font-weight : bolder;
      
}
.underTopBoxText2{
     width: 260px;
     height: 58px;
     background: #f1f1f1;
     padding: 7px 15px;
     border-radius: 7px;
     box-sizing: border-box;
     padding-top: 18px;
     padding-left: 40px;
     font-weight : bolder;
      
}
.underTopBoxText3{
     width: 260px;
     height: 58px;
     background: #f1f1f1;
     padding: 7px 15px;
     border-radius: 7px;
     box-sizing: border-box;
     padding-top: 18px;
     padding-left: 40px;
     font-weight : bolder;
      
}
.underBotBoxBlank{
      width: 40px;
      height: 50px;
      margin: 10px;
       box-sizing: border-box;
        background: #f1f1f1;
  
}
.underBotBoxText{
    width: 230px;
     height: 58px;
     background: #f1f1f1;
     padding:14px;
    
     border-radius: 7px;
     box-sizing: border-box;
}
.underBotBoxText2{
    width: 230px;
     height: 58px;
     background: #f1f1f1;
     padding:14px;
     padding-left: 40px;
     border-radius: 7px;
     box-sizing: border-box;
}
.underBotBoxText3{
    width: 230px;
     height: 58px;
     background: #f1f1f1;
     padding:14px;
     padding-left: 40px;
     border-radius: 7px;
     box-sizing: border-box;
}