#wrap{
    width:100%;
    text-align: center;
}
.email_list{
    padding:0;
    margin:0;
    list-style:none;
    padding:40px 10px;
}
.emailText{
    padding: 5px 0;
    font-size:20px;
    cursor:pointer;
}